
.btn {
    font-size: 18px;
    font-weight: 600;
    border: 1px solid #73035b;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
  }
  
  .btn.enabled {
    background-color: blue;
    color: white;
  }
  
  .btn:disabled {
    background-color: lightgray;
    color: gray;
  }
  