.sana-container {
  display: flex;
  justify-content: center; /* Horizontal centering */
  align-items: center; /* Vertical centering */
  flex-direction: column;
  background-color: antiquewhite;
}

.centered-text {
  /* padding: 20px; */
}
.sana_age-styling-input {
  padding: 20px 10px 20px 10px;
  border: 2px solid #17c3b2;
  border-radius: 15px 0 16px 0;
  width: 600px;
  font-size: 20px;
  flex-direction: column;
  display: block;
  margin: 20px;
}
/* -------------------------button------------------------------- */
.Dynamic-styling-button {
  padding: 18px 20px 18px 20px;
  border: 2px solid #17c3b2;
  position: relative;
  overflow: hidden;
  border-radius: 10px;
  background-color: transparent;
  text-align: center;
  text-transform: uppercase;
  font-size: 16px;
  transition: 0.3s;
  z-index: 1;
  font-family: inherit;
  color: #17c3b2;
}

.Dynamic-styling-button::before {
  content: "";
  width: 0;
  height: 300%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
  background: #17c3b2;
  transition: 0.5s ease;
  display: block;
  z-index: -1;
}

.Dynamic-styling-button:hover::before {
  width: 105%;
}

.Dynamic-styling-button:hover {
  color: #111;
}
